################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RgarchitectsApp/copilot-chat/c532666f/sessions
